body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    177.9deg,
    rgb(27, 29, 41) 3.6%,
    rgb(83, 89, 104) 105.8%
  );
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/singapore-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
}

footer {
  background-image: linear-gradient(
      rgba(32, 38, 68, 0.9),
      rgba(32, 38, 68, 0.9)
    ),
    url(../images/singapore-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer h3 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.6;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

@media (max-width: 900px) {
  header {
    padding: 100px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
